In [35]:
import pandas as pd
dfs = pd.read_excel("~/Downloads/Energy Indicators.xls", sheet_name="Energy",na_values = '...')
df = dfs.iloc[16:,2:]
df.head()

   Environmental Indicators: Energy Unnamed: 3 Unnamed: 4 Unnamed: 5
16                      Afghanistan        321         10    78.6693
17                          Albania        102         35        100
18                          Algeria       1959         51    0.55101
19                   American Samoa        NaN        NaN   0.641026
20                          Andorra          9        121    88.6957

In [37]:
df.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
#energy = df.set_index('Country')
energy = df
energy.head()

           Country Energy Supply Energy Supply per Capita % Renewable
16     Afghanistan           321                       10     78.6693
17         Albania           102                       35         100
18         Algeria          1959                       51     0.55101
19  American Samoa           NaN                      NaN    0.641026
20         Andorra             9                      121     88.6957

In [38]:
#replace character in column country:
energy['Country'] = energy['Country'].str.replace("Republic of Korea", "South Korea")
energy['Country']= energy['Country'].str.replace("United States of America", "United States")
energy['Country'] = energy['Country'].str.replace("United Kingdom of Great Britain and Northern Ireland", "United Kingdom")
energy['Country'] = energy['Country'].str.replace("China, Hong Kong Special Administrative Region", "Hong Kong")

In [39]:
#remove the parentheses and number in column country:
energy['Country'] = energy['Country'].str.replace(r"\(.*\)","")
energy['Country'] = energy['Country'].str.replace('\d+', '')

In [ ]:
#load in GDP data: