In [73]:
import pandas as pd
dfs = pd.read_excel("~/Downloads/Energy Indicators.xls", sheet_name="Energy",na_values = '...')
df = dfs.iloc[16:,2:]
df.head()

   Environmental Indicators: Energy Unnamed: 3 Unnamed: 4 Unnamed: 5
16                      Afghanistan        321         10    78.6693
17                          Albania        102         35        100
18                          Algeria       1959         51    0.55101
19                   American Samoa        NaN        NaN   0.641026
20                          Andorra          9        121    88.6957

In [74]:
df.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
#energy = df.set_index('Country')
energy = df
energy.head()

           Country Energy Supply Energy Supply per Capita % Renewable
16     Afghanistan           321                       10     78.6693
17         Albania           102                       35         100
18         Algeria          1959                       51     0.55101
19  American Samoa           NaN                      NaN    0.641026
20         Andorra             9                      121     88.6957

In [75]:
#replace character in column country:
energy['Country'] = energy['Country'].str.replace("Republic of Korea", "South Korea")
energy['Country']= energy['Country'].str.replace("United States of America", "United States")
energy['Country'] = energy['Country'].str.replace("United Kingdom of Great Britain and Northern Ireland", "United Kingdom")
energy['Country'] = energy['Country'].str.replace("China, Hong Kong Special Administrative Region", "Hong Kong")

In [76]:
#remove the parentheses and number in column country:
energy['Country'] = energy['Country'].str.replace(r"\(.*\)","")
energy['Country'] = energy['Country'].str.replace('\d+', '')

In [77]:
#load in GDP data:
GDP = pd.read_csv("~/Downloads/gdp.csv", skiprows=4)
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.585657e+10,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322825e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.505888e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN

In [78]:
GDP['Country Name'] = GDP['Country Name'].str.replace("Korea, Rep.", "South Korea") 
GDP['Country Name'] = GDP['Country Name'].str.replace("Iran, Islamic Rep.", "Iran") 
GDP['Country Name'] = GDP['Country Name'].str.replace("Hong Kong SAR, China", "Hong Kong") 
#use only 2006-2015 year data of GDP:
GDP = GDP[['Country Name','Country Code','Indicator Name','Indicator Code','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,2.424581e+09,2.615084e+09,2.745251e+09,2.498883e+09,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,6.971287e+09,9.747886e+09,1.010922e+10,1.243909e+10,1.585657e+10,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,5.238101e+10,6.526645e+10,8.853861e+10,7.030716e+10,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,8.896074e+09,1.067732e+10,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322825e+10,1.138693e+10
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,3.543257e+09,4.016972e+09,4.007353e+09,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09

In [97]:
#load in SJR data:
Scim = pd.read_excel("~/Downloads/scimagojr.xlsx", na_values = '...')
ScimEn = Scim.iloc[:15,:] #use only top ranked 15 countries.
ScimEn

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,193483,192270,1355524,927458,7.01,196
1,2,United States,143130,139924,1551044,530169,10.84,301
2,3,Japan,41188,40775,357829,93375,8.69,166
3,4,United Kingdom,33293,32300,405816,77019,12.19,185
4,5,India,32064,31167,268746,87658,8.38,153
5,6,Germany,27966,27370,278237,59495,9.95,166
6,7,Russian Federation,26435,26196,68424,29544,2.59,75
7,8,Canada,26148,25571,395467,74112,15.12,193
8,9,France,19696,19214,238639,48462,12.12,152
9,10,Italy,18773,17987,221652,54282,11.81,135
10,11,South Korea,18217,17994,208150,39811,11.43,132
11,12,Iran,15614,15334,160505,51493,10.28,108
12,13,Brazil,15332,15132,118483,28818,7.73,109
13,14,Australia,14907,14564,196567,34134,13.19,143
14,15,Spain,14204,13916,233955,42632,16.47,149

In [65]:
energy.head()

           Country Energy Supply Energy Supply per Capita % Renewable
16     Afghanistan           321                       10     78.6693
17         Albania           102                       35         100
18         Algeria          1959                       51     0.55101
19  American Samoa           NaN                      NaN    0.641026
20         Andorra             9                      121     88.6957

In [80]:
GDP.rename({'Country Name':'Country'}, axis =1, inplace = True)
GDP.head()

,Country,Country Code,Indicator Name,Indicator Code,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,2.424581e+09,2.615084e+09,2.745251e+09,2.498883e+09,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,6.971287e+09,9.747886e+09,1.010922e+10,1.243909e+10,1.585657e+10,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,5.238101e+10,6.526645e+10,8.853861e+10,7.030716e+10,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,8.896074e+09,1.067732e+10,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322825e+10,1.138693e+10
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,3.543257e+09,4.016972e+09,4.007353e+09,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09

In [81]:
ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,193483,192270,1355524,927458,7.01,196
1,2,United States,143130,139924,1551044,530169,10.84,301
2,3,Japan,41188,40775,357829,93375,8.69,166
3,4,United Kingdom,33293,32300,405816,77019,12.19,185
4,5,India,32064,31167,268746,87658,8.38,153

In [214]:
def answer_one():
    join1 = pd.merge(energy, GDP, on = 'Country')
    join = pd.merge(ScimEn, join1, on = 'Country')
    join = join[['Rank','Country','Documents','Citable documents','Citations','Self-citations','Citations per document','H index','Energy Supply','Energy Supply per Capita','% Renewable','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
    join = join.set_index('Country')
    return join
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,193483,192270,1355524,927458,7.01,196,127191,93,19.7549,2.752132e+12,3.550342e+12,4.594307e+12,5.101702e+12,6.087165e+12,7.551500e+12,8.532231e+12,9.570406e+12,1.043853e+13,1.101554e+13
United States,2,143130,139924,1551044,530169,10.84,301,90838,286,11.571,1.381461e+13,1.445186e+13,1.471284e+13,1.444893e+13,1.499205e+13,1.554258e+13,1.619701e+13,1.678485e+13,1.752175e+13,1.821930e+13
Japan,3,41188,40775,357829,93375,8.69,166,18984,149,10.2328,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.850414e+12,4.389476e+12
United Kingdom,4,33293,32300,405816,77019,12.19,185,7920,124,10.6005,2.697152e+12,3.084118e+12,2.904037e+12,2.394786e+12,2.452900e+12,2.634896e+12,2.676605e+12,2.753565e+12,3.034729e+12,2.896421e+12
India,5,32064,31167,268746,87658,8.38,153,33195,26,14.9691,9.402599e+11,1.216735e+12,1.198895e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12
Germany,6,27966,27370,278237,59495,9.95,166,13261,165,17.9015,3.002446e+12,3.439953e+12,3.752366e+12,3.418005e+12,3.417095e+12,3.757698e+12,3.543984e+12,3.752514e+12,3.898727e+12,3.381389e+12
Russian Federation,7,26435,26196,68424,29544,2.59,75,30709,214,17.2887,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.051662e+12,2.210257e+12,2.297128e+12,2.059984e+12,1.363594e+12
Canada,8,26148,25571,395467,74112,15.12,193,10431,296,61.9454,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613543e+12,1.789141e+12,1.823967e+12,1.842018e+12,1.801480e+12,1.552900e+12
France,9,19696,19214,238639,48462,12.12,152,10597,166,17.0203,2.318594e+12,2.657213e+12,2.918383e+12,2.690222e+12,2.642610e+12,2.861408e+12,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12
Italy,10,18773,17987,221652,54282,11.81,135,6530,109,33.6672,1.942634e+12,2.203053e+12,2.390729e+12,2.185160e+12,2.125058e+12,2.276292e+12,2.072823e+12,2.130491e+12,2.151733e+12,1.832273e+12
South Korea,11,18217,17994,208150,39811,11.43,132,11007,221,2.27935,1.011797e+12,1.122679e+12,1.002219e+12,9.019350e+11,1.094499e+12,1.202464e+12,1.222807e+12,1.305605e+12,1.411334e+12,1.382764e+12
Brazil,13,15332,15132,118483,28818,7.73,109,12149,59,69.648,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616202e+12,2.465189e+12,2.472806e+12,2.455994e+12,1.802214e+12
Australia,14,14907,14564,196567,34134,13.19,143,5386,231,11.8108,7.460542e+11,8.530996e+11,1.053996e+12,9.278052e+11,1.146138e+12,1.396650e+12,1.546152e+12,1.576184e+12,1.467484e+12,1.351520e+12
Spain,15,14204,13916,233955,42632,16.47,149,4923,106,37.9686,1.264551e+12,1.479342e+12,1.635015e+12,1.499100e+12,1.431617e+12,1.488067e+12,1.336019e+12,1.361854e+12,1.376911e+12,1.199084e+12

answer two

In [105]:
#according to the figure they show us:
def answer_two():
    eG = pd.merge(energy, GDP, how="inner", left_on = 'Country',right_on = 'Country')
    Se = pd.merge(Scim, energy, how="inner", left_on = 'Country',right_on = 'Country')
    SG = pd.merge(Scim, GDP, how="inner", left_on = 'Country',right_on = 'Country')

    three = pd.merge(eG, Scim, how = 'inner', left_on = 'Country',right_on = 'Country')
    len1 = len(eG.index)
    len2 = len(SG.index)
    len3 = len(Se.index)
    len4 = len(three.index)
    result = len(energy.index)+len(GDP.index) +len(Scim.index) - len1-len2-len3 + len4
    return result
answer_two()

361

In [108]:
#question 3:

In [172]:
import numpy as np
import pandas as pd
def answer_three():
    Top15 = answer_one()
    avgGDP = Top15[['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']].mean(axis = 1).rename('avgGDP').sort_values(ascending= False)
    return pd.Series(avgGDP)
answer_three()

Country
United States         1.566858e+13
China                 6.919386e+12
Japan                 5.177131e+12
Germany               3.536418e+12
United Kingdom        2.752921e+12
France                2.687371e+12
Italy                 2.131025e+12
Brazil                1.988885e+12
Russian Federation    1.668067e+12
Canada                1.612373e+12
India                 1.602352e+12
Spain                 1.407156e+12
Australia             1.206508e+12
South Korea           1.165810e+12
Name: avgGDP, dtype: float64

In [211]:
#q4
def answer_four():
    Top15 = answer_one()
    q4 = Top15
    q4 = q4[['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
    q4['max'] = q4[['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']].max(axis=1)
    q4['min'] = q4[['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']].min(axis=1)
    q4['mean'] = q4[['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']].mean(axis=1)
    q4['change'] = q4['max']-q4['min']
    a = q4[['max','min','change','mean']]
    a = a.sort_values(by = ['mean'], ascending = False)
    result = a.iloc[[5],[2]]
    return result['change'].values[0]
answer_four()

/home/shuang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/shuang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/shuang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/shuang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

599789239471.9199

In [212]:
#q5

In [213]:
def answer_five():
    Top15 = answer_one()
    mea = Top15.iloc[:, 8].mean()
    return mea
answer_five()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,
China,1,193483,192270,1355524,927458,7.01,196,127191,93,2.752132e+12,3.550342e+12,4.594307e+12,5.101702e+12,6.087165e+12,7.551500e+12,8.532231e+12,9.570406e+12,1.043853e+13,1.101554e+13
United States,2,143130,139924,1551044,530169,10.84,301,90838,286,1.381461e+13,1.445186e+13,1.471284e+13,1.444893e+13,1.499205e+13,1.554258e+13,1.619701e+13,1.678485e+13,1.752175e+13,1.821930e+13
Japan,3,41188,40775,357829,93375,8.69,166,18984,149,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.850414e+12,4.389476e+12
United Kingdom,4,33293,32300,405816,77019,12.19,185,7920,124,2.697152e+12,3.084118e+12,2.904037e+12,2.394786e+12,2.452900e+12,2.634896e+12,2.676605e+12,2.753565e+12,3.034729e+12,2.896421e+12
India,5,32064,31167,268746,87658,8.38,153,33195,26,9.402599e+11,1.216735e+12,1.198895e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12
Germany,6,27966,27370,278237,59495,9.95,166,13261,165,3.002446e+12,3.439953e+12,3.752366e+12,3.418005e+12,3.417095e+12,3.757698e+12,3.543984e+12,3.752514e+12,3.898727e+12,3.381389e+12
Russian Federation,7,26435,26196,68424,29544,2.59,75,30709,214,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.051662e+12,2.210257e+12,2.297128e+12,2.059984e+12,1.363594e+12
Canada,8,26148,25571,395467,74112,15.12,193,10431,296,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613543e+12,1.789141e+12,1.823967e+12,1.842018e+12,1.801480e+12,1.552900e+12
France,9,19696,19214,238639,48462,12.12,152,10597,166,2.318594e+12,2.657213e+12,2.918383e+12,2.690222e+12,2.642610e+12,2.861408e+12,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12
Italy,10,18773,17987,221652,54282,11.81,135,6530,109,1.942634e+12,2.203053e+12,2.390729e+12,2.185160e+12,2.125058e+12,2.276292e+12,2.072823e+12,2.130491e+12,2.151733e+12,1.832273e+12
South Korea,11,18217,17994,208150,39811,11.43,132,11007,221,1.011797e+12,1.122679e+12,1.002219e+12,9.019350e+11,1.094499e+12,1.202464e+12,1.222807e+12,1.305605e+12,1.411334e+12,1.382764e+12
Brazil,13,15332,15132,118483,28818,7.73,109,12149,59,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616202e+12,2.465189e+12,2.472806e+12,2.455994e+12,1.802214e+12
Australia,14,14907,14564,196567,34134,13.19,143,5386,231,7.460542e+11,8.530996e+11,1.053996e+12,9.278052e+11,1.146138e+12,1.396650e+12,1.546152e+12,1.576184e+12,1.467484e+12,1.351520e+12
Spain,15,14204,13916,233955,42632,16.47,149,4923,106,1.264551e+12,1.479342e+12,1.635015e+12,1.499100e+12,1.431617e+12,1.488067e+12,1.336019e+12,1.361854e+12,1.376911e+12,1.199084e+12

In [ ]:
#q6
import numpy as np
def answer_six():
    Top15 = answer_one()
    a = Top15
    name = np.argmax(Top15['% Renewable'])
    value = a.loc[name][9]
    l = [name,value]
    return tuple(l)
answer_six()

In [ ]:
#q7
def answer_seven():
    Top15 = answer_one()
    Top15['ratio'] = Top15['Self-citations'] / Top15['Citations']
    name = np.argmax(Top15['ratio'])
    value = Top15.loc[name][-1]
    l = [name,value]
    return tuple(l)
answer_seven()